body {
margin: 0;
font-family: Arial, Helvetica;
background-color: #020000;
color: rgb(255, 255, 255);
}
header {
background-color: red);
padding: 10px;
text-align: center;
font-size: 2em;
font-weight: bold;
}
.banner {
background-color: rgb(119, 31, 31);
padding: 30px;
display: flex;
align-items: center;
justify-content: space-around;
}
.banner h2 {
color: rgb(4, 0, 253);
font-size: 1.8em;
}
.videos {
background-color: rgb(255, 0, 0);
padding: 30px;
}
.video-grid {
display: flex;
gap: 25px;
flex-wrap: wrap;
}
.video-grid iframe {
border: none;
}